<div class="card mb-4" style="width: 18rem">
  <img src="..." class="card-img-top" alt="..." style="min-height: 150px" />
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of
      the card's content.
    </p>
    <div class="d-flex justify-content-around flex-wrap">
      <a href="#" class="btn btn-primary" style="width: 120px; height: 40px"
        >cart</a
      >
      <a href="#" class="btn btn-primary" style="width: 120px; height: 40px"
        >Checkout</a
      >
    </div>
  </div>
</div>
